{% extends 'base.html' %}
{% load static %}
{% block title %}Reservas | Training Now{% endblock title %}

{% block content %}
    <div class="container" id="app">
      <!-- Modal confirmación reserva-->
      <div class="modal fade" id="confirmacion-reserva" tabindex="-1" aria-labelledby="confirmacion-reserva-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmacion-reserva-label">Confirmar reserva</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              [[ current_class.start | toDate | fullDate | upperFirst ]] - [[ current_class.start | toDate | toString]]H
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                @click.prevent="create_booking(current_class.id)">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal cancelación reserva-->
      <div class="modal fade" id="cancelacion-reserva" tabindex="-1" aria-labelledby="cancelacion-reserva-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cancelacion-reserva-label">Cancelar Reserva</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              [[ current_class.start | toDate | fullDate | upperFirst ]] - [[ current_class.start | toDate | toString]]H
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                @click.prevent="delete_booking(current_class.id)">Cancelar Reserva</button>
            </div>
          </div>
        </div>
      </div>
      <template v-if="have_bookings()">
        <h1 class="h2 text-center">Semana del [[first_day | mmddyyyy]] al [[ last_day | mmddyyyy]]</h1>
        <div class="accordion accordion-flush" id="accordion">
          <div class="accordion-item" v-for="(classes, day, index) in available_bookings">
            <h2 class="accordion-header" :id="[[day]]">
              <button class="accordion-button collapsed mx-auto" type="button" data-bs-toggle="collapse"
                :data-bs-target="`#collapse-${day}`" aria-expanded="false" aria-controls="`collapse-${day}`">
                [[classes[0].start | toDate | fullDate | upperFirst]]
              </button>
            </h2>
            <div :id="`collapse-${day}`" class="accordion-collapse collapse" :aria-labelledby="[[day]]"
              data-bs-parent="#accordion" :class="{'show': show_accordion(classes[0].start) }">
              <div class="accordion-body">
                <div class="row">
                  <div v-for="group in classes" class="card col-4 col-md-3 col-xl-2 p-0 rounded-0 ">
                    <div class="card-header text-center">
                      [[ group.start | toDate | toString]] -
                      [[ group.start | toDate | addOneHour | toString]]
                    </div>
                    <a href="#" class="text-decoration-none" @click.prevent="set_class(group)" data-bs-toggle="modal"
                      :data-bs-target="user_in_class(group.users)?'#cancelacion-reserva':'#confirmacion-reserva'">
                      <div class="card-body h-100">
                        <div class="d-flex flex-wrap gap-2 justify-content-around">
                          <i v-for="user in group.users"
                          class="fa-solid fa-user fs-4 mx-lg-1"
                          :class="user.id === current_user.id? 'text-success':'text-danger'"
                          ></i>
                          <i v-for="i in group.max_people - group.users.length" class="fa-solid fa-user fs-4 mx-lg-1 "></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary"
              :class="{ disabled: new Date().getDate() == this.week.getDate() }"
              @click="set_current_week">Actual</button>
              <button type="button" class="btn btn-primary"
              :class="{ disabled: new Date().getDate() != this.week.getDate() }"
              @click="set_next_week_date">Siguiente</button>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="d-flex flex-column">
              <div class="d-flex">
                <i class="fa-solid fa-user text-success mb-2 me-2"></i> <span> = Reserva propia</span>
              </div>
              <div class="d-flex">
                <i class="fa-solid fa-user text-primary mb-2 me-2"></i> = Reserva disponible
              </div>
              <div class="d-flex">
                <i class="fa-solid fa-user text-danger me-2"></i> = Reserva ocupada
              </div>
            </div>
          </div>
        </div>
      </template>
      <div v-else class="d-flex justify-content-center align-items-center" style="height: 500px;">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="text-primary ms-3">Cargando...</div>
      </div>
    </div>
    
{% endblock content %}

{% block extra_js %}
  <script type="module" src="{% static 'js/bookings/bookings.js' %}"></script>
{% endblock extra_js %}