<footer class="text-center text-lg-start bg-light text-muted mt-5">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
  
      <div class="me-5 d-none d-lg-block">
        <span>Nos encontrarás en las siguientes redes sociales:</span>
      </div>
  
      <div>
        <a href="https://www.facebook.com/people/Training-Now/100066974364677/" class="me-4 text-reset text-decoration-none">
          <i class="fa-brands fa-facebook-f fa-2x"></i>
        </a>
        
        <a href="https://www.instagram.com/training_now/" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-instagram fa-2x"></i>
        </a>

      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa-solid fa-dumbbell me-3"></i>Training Now
            </h6>
            <p class="" style="text-align: justify;">
              Los resultados pueden variar según cada persona. El ejercicio y una dieta saludable son necesarios para lograr y mantener la pérdida de peso, el mantenimiento y la tonificación del músculo.
            </p>
          </div>
  
          <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Links de interés
            </h6>
            <p>
              <a href="#!" class="text-reset">Contacto</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i>Cristobal Colón 10, Utrera (Sevilla)</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              trainingnow@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>+34 627 86 45 43</p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      
      © 2022 Copyright
    </div>
  </footer>