{% load static %}
<nav class="navbar navbar-expand-md">
    <div class="container-fluid d-flex" style="max-width: 1100px;">
      <a class="navbar-brand" href="{% url 'users_app:index' %}">
        <img class="img-fluid w-100" src="{% static 'img/logo.png' %}" alt="Brand Logo" style="height: 100px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          {% if request.user.is_authenticated %}
          <a class="btn btn-outline-primary mx-4 my-lg-auto my-1 my-lg-auto my-1 order-1" aria-current="page" href="{% url 'bookings_app:bookings' %}">Reservas</a>
          {% endif %}
          <a class="btn btn-outline-primary mx-4 my-lg-auto my-1 order-2" href="{% url 'users_app:contact' %}">Contacto</a>
          {% if request.user.is_staff %}
            <a class="btn btn-outline-primary mx-4 my-lg-auto my-1 order-3" href="{% url 'users_app:user-register' %}">Registrar</a>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="dropdown ms-4 order-lg-5">
            <a class="dropdown-toggle text-decoration-none me-5 me-md-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&rounded=true&size=50&name={{request.user.first_name}}+{{request.user.last_name}}" class="rounded-circle" style="width: 52px;"
              alt="Avatar" />
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="#">Mi perfil</a></li> -->
              <li><a class="dropdown-item" href="{% url 'bookings_app:my-bookings' %}">Mis reservas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'users_app:user-logout' %}">Cerrar sesión</a></li>
            </ul>
          </div>
          {% else %}
          <a class="btn btn-primary mx-4 my-lg-auto my-1 order-5" href="{% url 'users_app:user-login' %}">Iniciar sesión</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>