{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  {% include 'includes/css.html' %}
  <title>{% block title %}Training Now{% endblock title %}</title>
  {% block extra_css %}{% endblock extra_css %}
</head>

<body>

  {% include 'includes/header.html' %}


  {% block content %}
  {% endblock content %}

  {% include 'includes/footer.html' %}


</body>
{% include 'includes/scripts.html' %}
{% block extra_js %}{% endblock extra_js %}

</html>