{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{% block title %}Training Now{% endblock title %}</title>
  {% block extra_css %}{% endblock extra_css %}
</head>

<body>
  {% block header %}
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid d-flex" style="max-width: 1100px;">
      <a class="navbar-brand" href="{% url 'users_app:index' %}">
        <img class="img-fluid w-100 h-100" src="{% static 'img/logo.jpg' %}" alt="Brand Logo" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="btn btn-outline-primary mx-4 my-lg-auto my-1 my-lg-auto my-1" aria-current="page" href="#">Reservas</a>
          <a class="btn btn-outline-primary mx-4 my-lg-auto my-1" href="#">Contacto</a>
          {% if request.user.is_authenticated %}
          <a class="btn btn-primary mx-4 my-lg-auto my-1" href="{% url 'users_app:user-logout' %}">Desconectar</a>
          {% else %}
          <a class="btn btn-primary mx-4 my-lg-auto my-1" href="{% url 'users_app:user-login' %}">Iniciar sesión</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Puedes encontrarme en las siguientes redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-dumbbell me-3"></i>Training Now
          </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eligendi tempore rerum vitae esse quos fugiat nemo dolores reiciendis maiores corrupti,
            id harum pariatur totam molestias laborum odio quae quia. Sunt?
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links de interés
          </h6>
          <p>
            <a href="#!" class="text-reset">Contacto</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i>Cristobal Colón 10, Utrera</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            trainingnow@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>627 86 45 43</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  {% endblock footer %}

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}

</html>