{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecer contraseña | Training Now{% endblock title %}

{% block content %}
<section class="wrapper">
    <div class="container">
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
        <form method="POST" class="rounded bg-white shadow p-5">{% csrf_token %}
          <h3 class="text-dark fw-bolder fs-4 mb-2">
            ¿Olvidaste tu contraseña?
          </h3>
          <div class="fw-normal text-muted mb-4">
            Introduce tu email para recuperar tu contraseña
          </div>
  
          {% for field in form %}
          <div class="form-floating mb-3">
            <input class="form-control" type="password" name="{{field.html_name}}" id="{{ field.id_for_label }}" placeholder="Contraseña">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for error in field.errors %}
            <span class="form-text ms-2 text-danger">* {{ error }}</span>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="d-flex justify-content-between">
            <button class="btn btn-success" type="submit">Cambiar contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </section>
    
{% endblock content %}